# ignore .vscode/
**/.vscode/

# ignore *.webm in dataset
data/**/*.webm
# ignore *.jpg in dataset
data/**/*.jpg
# ignore *.avi in dataset
LRCN_PyTorch/**/*.avi
# ignore *.rar in dataset
LRCN_PyTorch/**/*.rar
# ignore *.zip in dataset
LRCN_PyTorch/**/*.zip
